/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$avatar-1-name: 'avatar-1';
$avatar-1-x: 512px;
$avatar-1-y: 0px;
$avatar-1-offset-x: -512px;
$avatar-1-offset-y: 0px;
$avatar-1-width: 512px;
$avatar-1-height: 512px;
$avatar-1-total-width: 4096px;
$avatar-1-total-height: 3584px;
$avatar-1-image: '~sprite.png';
$avatar-1: (512px, 0px, -512px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'avatar-1', );
$avatar-name: 'avatar';
$avatar-x: 2560px;
$avatar-y: 0px;
$avatar-offset-x: -2560px;
$avatar-offset-y: 0px;
$avatar-width: 512px;
$avatar-height: 512px;
$avatar-total-width: 4096px;
$avatar-total-height: 3584px;
$avatar-image: '~sprite.png';
$avatar: (2560px, 0px, -2560px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'avatar', );
$back-name: 'back';
$back-x: 0px;
$back-y: 512px;
$back-offset-x: 0px;
$back-offset-y: -512px;
$back-width: 512px;
$back-height: 512px;
$back-total-width: 4096px;
$back-total-height: 3584px;
$back-image: '~sprite.png';
$back: (0px, 512px, 0px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'back', );
$book-name: 'book';
$book-x: 512px;
$book-y: 512px;
$book-offset-x: -512px;
$book-offset-y: -512px;
$book-width: 512px;
$book-height: 512px;
$book-total-width: 4096px;
$book-total-height: 3584px;
$book-image: '~sprite.png';
$book: (512px, 512px, -512px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'book', );
$cancel-name: 'cancel';
$cancel-x: 1024px;
$cancel-y: 0px;
$cancel-offset-x: -1024px;
$cancel-offset-y: 0px;
$cancel-width: 512px;
$cancel-height: 512px;
$cancel-total-width: 4096px;
$cancel-total-height: 3584px;
$cancel-image: '~sprite.png';
$cancel: (1024px, 0px, -1024px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'cancel', );
$chat-1-name: 'chat-1';
$chat-1-x: 1024px;
$chat-1-y: 512px;
$chat-1-offset-x: -1024px;
$chat-1-offset-y: -512px;
$chat-1-width: 512px;
$chat-1-height: 512px;
$chat-1-total-width: 4096px;
$chat-1-total-height: 3584px;
$chat-1-image: '~sprite.png';
$chat-1: (1024px, 512px, -1024px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'chat-1', );
$chat-2-name: 'chat-2';
$chat-2-x: 0px;
$chat-2-y: 1024px;
$chat-2-offset-x: 0px;
$chat-2-offset-y: -1024px;
$chat-2-width: 512px;
$chat-2-height: 512px;
$chat-2-total-width: 4096px;
$chat-2-total-height: 3584px;
$chat-2-image: '~sprite.png';
$chat-2: (0px, 1024px, 0px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'chat-2', );
$chat-name: 'chat';
$chat-x: 512px;
$chat-y: 1024px;
$chat-offset-x: -512px;
$chat-offset-y: -1024px;
$chat-width: 512px;
$chat-height: 512px;
$chat-total-width: 4096px;
$chat-total-height: 3584px;
$chat-image: '~sprite.png';
$chat: (512px, 1024px, -512px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'chat', );
$copy-name: 'copy';
$copy-x: 1024px;
$copy-y: 1024px;
$copy-offset-x: -1024px;
$copy-offset-y: -1024px;
$copy-width: 512px;
$copy-height: 512px;
$copy-total-width: 4096px;
$copy-total-height: 3584px;
$copy-image: '~sprite.png';
$copy: (1024px, 1024px, -1024px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'copy', );
$dislike-name: 'dislike';
$dislike-x: 1536px;
$dislike-y: 0px;
$dislike-offset-x: -1536px;
$dislike-offset-y: 0px;
$dislike-width: 512px;
$dislike-height: 512px;
$dislike-total-width: 4096px;
$dislike-total-height: 3584px;
$dislike-image: '~sprite.png';
$dislike: (1536px, 0px, -1536px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'dislike', );
$download-1-name: 'download-1';
$download-1-x: 1536px;
$download-1-y: 512px;
$download-1-offset-x: -1536px;
$download-1-offset-y: -512px;
$download-1-width: 512px;
$download-1-height: 512px;
$download-1-total-width: 4096px;
$download-1-total-height: 3584px;
$download-1-image: '~sprite.png';
$download-1: (1536px, 512px, -1536px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'download-1', );
$download-name: 'download';
$download-x: 1536px;
$download-y: 1024px;
$download-offset-x: -1536px;
$download-offset-y: -1024px;
$download-width: 512px;
$download-height: 512px;
$download-total-width: 4096px;
$download-total-height: 3584px;
$download-image: '~sprite.png';
$download: (1536px, 1024px, -1536px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'download', );
$edit-name: 'edit';
$edit-x: 0px;
$edit-y: 1536px;
$edit-offset-x: 0px;
$edit-offset-y: -1536px;
$edit-width: 512px;
$edit-height: 512px;
$edit-total-width: 4096px;
$edit-total-height: 3584px;
$edit-image: '~sprite.png';
$edit: (0px, 1536px, 0px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'edit', );
$envelope-name: 'envelope';
$envelope-x: 512px;
$envelope-y: 1536px;
$envelope-offset-x: -512px;
$envelope-offset-y: -1536px;
$envelope-width: 512px;
$envelope-height: 512px;
$envelope-total-width: 4096px;
$envelope-total-height: 3584px;
$envelope-image: '~sprite.png';
$envelope: (512px, 1536px, -512px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'envelope', );
$folder-name: 'folder';
$folder-x: 1024px;
$folder-y: 1536px;
$folder-offset-x: -1024px;
$folder-offset-y: -1536px;
$folder-width: 512px;
$folder-height: 512px;
$folder-total-width: 4096px;
$folder-total-height: 3584px;
$folder-image: '~sprite.png';
$folder: (1024px, 1536px, -1024px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'folder', );
$garbage-name: 'garbage';
$garbage-x: 1536px;
$garbage-y: 1536px;
$garbage-offset-x: -1536px;
$garbage-offset-y: -1536px;
$garbage-width: 512px;
$garbage-height: 512px;
$garbage-total-width: 4096px;
$garbage-total-height: 3584px;
$garbage-image: '~sprite.png';
$garbage: (1536px, 1536px, -1536px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'garbage', );
$glasses-name: 'glasses';
$glasses-x: 2048px;
$glasses-y: 0px;
$glasses-offset-x: -2048px;
$glasses-offset-y: 0px;
$glasses-width: 512px;
$glasses-height: 512px;
$glasses-total-width: 4096px;
$glasses-total-height: 3584px;
$glasses-image: '~sprite.png';
$glasses: (2048px, 0px, -2048px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'glasses', );
$hand-name: 'hand';
$hand-x: 2048px;
$hand-y: 512px;
$hand-offset-x: -2048px;
$hand-offset-y: -512px;
$hand-width: 512px;
$hand-height: 512px;
$hand-total-width: 4096px;
$hand-total-height: 3584px;
$hand-image: '~sprite.png';
$hand: (2048px, 512px, -2048px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'hand', );
$headphones-name: 'headphones';
$headphones-x: 2048px;
$headphones-y: 1024px;
$headphones-offset-x: -2048px;
$headphones-offset-y: -1024px;
$headphones-width: 512px;
$headphones-height: 512px;
$headphones-total-width: 4096px;
$headphones-total-height: 3584px;
$headphones-image: '~sprite.png';
$headphones: (2048px, 1024px, -2048px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'headphones', );
$heart-name: 'heart';
$heart-x: 2048px;
$heart-y: 1536px;
$heart-offset-x: -2048px;
$heart-offset-y: -1536px;
$heart-width: 512px;
$heart-height: 512px;
$heart-total-width: 4096px;
$heart-total-height: 3584px;
$heart-image: '~sprite.png';
$heart: (2048px, 1536px, -2048px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'heart', );
$house-name: 'house';
$house-x: 0px;
$house-y: 2048px;
$house-offset-x: 0px;
$house-offset-y: -2048px;
$house-width: 512px;
$house-height: 512px;
$house-total-width: 4096px;
$house-total-height: 3584px;
$house-image: '~sprite.png';
$house: (0px, 2048px, 0px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'house', );
$like-name: 'like';
$like-x: 512px;
$like-y: 2048px;
$like-offset-x: -512px;
$like-offset-y: -2048px;
$like-width: 512px;
$like-height: 512px;
$like-total-width: 4096px;
$like-total-height: 3584px;
$like-image: '~sprite.png';
$like: (512px, 2048px, -512px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'like', );
$link-name: 'link';
$link-x: 1024px;
$link-y: 2048px;
$link-offset-x: -1024px;
$link-offset-y: -2048px;
$link-width: 512px;
$link-height: 512px;
$link-total-width: 4096px;
$link-total-height: 3584px;
$link-image: '~sprite.png';
$link: (1024px, 2048px, -1024px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'link', );
$logout-name: 'logout';
$logout-x: 1536px;
$logout-y: 2048px;
$logout-offset-x: -1536px;
$logout-offset-y: -2048px;
$logout-width: 512px;
$logout-height: 512px;
$logout-total-width: 4096px;
$logout-total-height: 3584px;
$logout-image: '~sprite.png';
$logout: (1536px, 2048px, -1536px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'logout', );
$magnifying-glass-name: 'magnifying-glass';
$magnifying-glass-x: 2048px;
$magnifying-glass-y: 2048px;
$magnifying-glass-offset-x: -2048px;
$magnifying-glass-offset-y: -2048px;
$magnifying-glass-width: 512px;
$magnifying-glass-height: 512px;
$magnifying-glass-total-width: 4096px;
$magnifying-glass-total-height: 3584px;
$magnifying-glass-image: '~sprite.png';
$magnifying-glass: (2048px, 2048px, -2048px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'magnifying-glass', );
$monitor-name: 'monitor';
$monitor-x: 0px;
$monitor-y: 0px;
$monitor-offset-x: 0px;
$monitor-offset-y: 0px;
$monitor-width: 512px;
$monitor-height: 512px;
$monitor-total-width: 4096px;
$monitor-total-height: 3584px;
$monitor-image: '~sprite.png';
$monitor: (0px, 0px, 0px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'monitor', );
$musical-note-name: 'musical-note';
$musical-note-x: 2560px;
$musical-note-y: 512px;
$musical-note-offset-x: -2560px;
$musical-note-offset-y: -512px;
$musical-note-width: 512px;
$musical-note-height: 512px;
$musical-note-total-width: 4096px;
$musical-note-total-height: 3584px;
$musical-note-image: '~sprite.png';
$musical-note: (2560px, 512px, -2560px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'musical-note', );
$next-1-name: 'next-1';
$next-1-x: 2560px;
$next-1-y: 1024px;
$next-1-offset-x: -2560px;
$next-1-offset-y: -1024px;
$next-1-width: 512px;
$next-1-height: 512px;
$next-1-total-width: 4096px;
$next-1-total-height: 3584px;
$next-1-image: '~sprite.png';
$next-1: (2560px, 1024px, -2560px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'next-1', );
$next-name: 'next';
$next-x: 2560px;
$next-y: 1536px;
$next-offset-x: -2560px;
$next-offset-y: -1536px;
$next-width: 512px;
$next-height: 512px;
$next-total-width: 4096px;
$next-total-height: 3584px;
$next-image: '~sprite.png';
$next: (2560px, 1536px, -2560px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'next', );
$padlock-name: 'padlock';
$padlock-x: 2560px;
$padlock-y: 2048px;
$padlock-offset-x: -2560px;
$padlock-offset-y: -2048px;
$padlock-width: 512px;
$padlock-height: 512px;
$padlock-total-width: 4096px;
$padlock-total-height: 3584px;
$padlock-image: '~sprite.png';
$padlock: (2560px, 2048px, -2560px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'padlock', );
$paper-plane-name: 'paper-plane';
$paper-plane-x: 0px;
$paper-plane-y: 2560px;
$paper-plane-offset-x: 0px;
$paper-plane-offset-y: -2560px;
$paper-plane-width: 512px;
$paper-plane-height: 512px;
$paper-plane-total-width: 4096px;
$paper-plane-total-height: 3584px;
$paper-plane-image: '~sprite.png';
$paper-plane: (0px, 2560px, 0px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'paper-plane', );
$phone-call-name: 'phone-call';
$phone-call-x: 512px;
$phone-call-y: 2560px;
$phone-call-offset-x: -512px;
$phone-call-offset-y: -2560px;
$phone-call-width: 512px;
$phone-call-height: 512px;
$phone-call-total-width: 4096px;
$phone-call-total-height: 3584px;
$phone-call-image: '~sprite.png';
$phone-call: (512px, 2560px, -512px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'phone-call', );
$photo-camera-name: 'photo-camera';
$photo-camera-x: 1024px;
$photo-camera-y: 2560px;
$photo-camera-offset-x: -1024px;
$photo-camera-offset-y: -2560px;
$photo-camera-width: 512px;
$photo-camera-height: 512px;
$photo-camera-total-width: 4096px;
$photo-camera-total-height: 3584px;
$photo-camera-image: '~sprite.png';
$photo-camera: (1024px, 2560px, -1024px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'photo-camera', );
$pie-chart-name: 'pie-chart';
$pie-chart-x: 1536px;
$pie-chart-y: 2560px;
$pie-chart-offset-x: -1536px;
$pie-chart-offset-y: -2560px;
$pie-chart-width: 512px;
$pie-chart-height: 512px;
$pie-chart-total-width: 4096px;
$pie-chart-total-height: 3584px;
$pie-chart-image: '~sprite.png';
$pie-chart: (1536px, 2560px, -1536px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'pie-chart', );
$piggy-bank-name: 'piggy-bank';
$piggy-bank-x: 2048px;
$piggy-bank-y: 2560px;
$piggy-bank-offset-x: -2048px;
$piggy-bank-offset-y: -2560px;
$piggy-bank-width: 512px;
$piggy-bank-height: 512px;
$piggy-bank-total-width: 4096px;
$piggy-bank-total-height: 3584px;
$piggy-bank-image: '~sprite.png';
$piggy-bank: (2048px, 2560px, -2048px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'piggy-bank', );
$placeholder-name: 'placeholder';
$placeholder-x: 2560px;
$placeholder-y: 2560px;
$placeholder-offset-x: -2560px;
$placeholder-offset-y: -2560px;
$placeholder-width: 512px;
$placeholder-height: 512px;
$placeholder-total-width: 4096px;
$placeholder-total-height: 3584px;
$placeholder-image: '~sprite.png';
$placeholder: (2560px, 2560px, -2560px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'placeholder', );
$printer-name: 'printer';
$printer-x: 3072px;
$printer-y: 0px;
$printer-offset-x: -3072px;
$printer-offset-y: 0px;
$printer-width: 512px;
$printer-height: 512px;
$printer-total-width: 4096px;
$printer-total-height: 3584px;
$printer-image: '~sprite.png';
$printer: (3072px, 0px, -3072px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'printer', );
$reload-name: 'reload';
$reload-x: 3072px;
$reload-y: 512px;
$reload-offset-x: -3072px;
$reload-offset-y: -512px;
$reload-width: 512px;
$reload-height: 512px;
$reload-total-width: 4096px;
$reload-total-height: 3584px;
$reload-image: '~sprite.png';
$reload: (3072px, 512px, -3072px, -512px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'reload', );
$settings-1-name: 'settings-1';
$settings-1-x: 3072px;
$settings-1-y: 1024px;
$settings-1-offset-x: -3072px;
$settings-1-offset-y: -1024px;
$settings-1-width: 512px;
$settings-1-height: 512px;
$settings-1-total-width: 4096px;
$settings-1-total-height: 3584px;
$settings-1-image: '~sprite.png';
$settings-1: (3072px, 1024px, -3072px, -1024px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'settings-1', );
$settings-name: 'settings';
$settings-x: 3072px;
$settings-y: 1536px;
$settings-offset-x: -3072px;
$settings-offset-y: -1536px;
$settings-width: 512px;
$settings-height: 512px;
$settings-total-width: 4096px;
$settings-total-height: 3584px;
$settings-image: '~sprite.png';
$settings: (3072px, 1536px, -3072px, -1536px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'settings', );
$share-name: 'share';
$share-x: 3072px;
$share-y: 2048px;
$share-offset-x: -3072px;
$share-offset-y: -2048px;
$share-width: 512px;
$share-height: 512px;
$share-total-width: 4096px;
$share-total-height: 3584px;
$share-image: '~sprite.png';
$share: (3072px, 2048px, -3072px, -2048px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'share', );
$shopping-bag-name: 'shopping-bag';
$shopping-bag-x: 3072px;
$shopping-bag-y: 2560px;
$shopping-bag-offset-x: -3072px;
$shopping-bag-offset-y: -2560px;
$shopping-bag-width: 512px;
$shopping-bag-height: 512px;
$shopping-bag-total-width: 4096px;
$shopping-bag-total-height: 3584px;
$shopping-bag-image: '~sprite.png';
$shopping-bag: (3072px, 2560px, -3072px, -2560px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'shopping-bag', );
$shopping-cart-name: 'shopping-cart';
$shopping-cart-x: 0px;
$shopping-cart-y: 3072px;
$shopping-cart-offset-x: 0px;
$shopping-cart-offset-y: -3072px;
$shopping-cart-width: 512px;
$shopping-cart-height: 512px;
$shopping-cart-total-width: 4096px;
$shopping-cart-total-height: 3584px;
$shopping-cart-image: '~sprite.png';
$shopping-cart: (0px, 3072px, 0px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'shopping-cart', );
$shuffle-name: 'shuffle';
$shuffle-x: 512px;
$shuffle-y: 3072px;
$shuffle-offset-x: -512px;
$shuffle-offset-y: -3072px;
$shuffle-width: 512px;
$shuffle-height: 512px;
$shuffle-total-width: 4096px;
$shuffle-total-height: 3584px;
$shuffle-image: '~sprite.png';
$shuffle: (512px, 3072px, -512px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'shuffle', );
$speaker-name: 'speaker';
$speaker-x: 1024px;
$speaker-y: 3072px;
$speaker-offset-x: -1024px;
$speaker-offset-y: -3072px;
$speaker-width: 512px;
$speaker-height: 512px;
$speaker-total-width: 4096px;
$speaker-total-height: 3584px;
$speaker-image: '~sprite.png';
$speaker: (1024px, 3072px, -1024px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'speaker', );
$star-name: 'star';
$star-x: 1536px;
$star-y: 3072px;
$star-offset-x: -1536px;
$star-offset-y: -3072px;
$star-width: 512px;
$star-height: 512px;
$star-total-width: 4096px;
$star-total-height: 3584px;
$star-image: '~sprite.png';
$star: (1536px, 3072px, -1536px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'star', );
$tag-name: 'tag';
$tag-x: 2048px;
$tag-y: 3072px;
$tag-offset-x: -2048px;
$tag-offset-y: -3072px;
$tag-width: 512px;
$tag-height: 512px;
$tag-total-width: 4096px;
$tag-total-height: 3584px;
$tag-image: '~sprite.png';
$tag: (2048px, 3072px, -2048px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'tag', );
$upload-1-name: 'upload-1';
$upload-1-x: 2560px;
$upload-1-y: 3072px;
$upload-1-offset-x: -2560px;
$upload-1-offset-y: -3072px;
$upload-1-width: 512px;
$upload-1-height: 512px;
$upload-1-total-width: 4096px;
$upload-1-total-height: 3584px;
$upload-1-image: '~sprite.png';
$upload-1: (2560px, 3072px, -2560px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'upload-1', );
$upload-name: 'upload';
$upload-x: 3072px;
$upload-y: 3072px;
$upload-offset-x: -3072px;
$upload-offset-y: -3072px;
$upload-width: 512px;
$upload-height: 512px;
$upload-total-width: 4096px;
$upload-total-height: 3584px;
$upload-image: '~sprite.png';
$upload: (3072px, 3072px, -3072px, -3072px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'upload', );
$vector-name: 'vector';
$vector-x: 3584px;
$vector-y: 0px;
$vector-offset-x: -3584px;
$vector-offset-y: 0px;
$vector-width: 512px;
$vector-height: 512px;
$vector-total-width: 4096px;
$vector-total-height: 3584px;
$vector-image: '~sprite.png';
$vector: (3584px, 0px, -3584px, 0px, 512px, 512px, 4096px, 3584px, '~sprite.png', 'vector', );
$spritesheet-width: 4096px;
$spritesheet-height: 3584px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($avatar-1, $avatar, $back, $book, $cancel, $chat-1, $chat-2, $chat, $copy, $dislike, $download-1, $download, $edit, $envelope, $folder, $garbage, $glasses, $hand, $headphones, $heart, $house, $like, $link, $logout, $magnifying-glass, $monitor, $musical-note, $next-1, $next, $padlock, $paper-plane, $phone-call, $photo-camera, $pie-chart, $piggy-bank, $placeholder, $printer, $reload, $settings-1, $settings, $share, $shopping-bag, $shopping-cart, $shuffle, $speaker, $star, $tag, $upload-1, $upload, $vector, );
$spritesheet: (4096px, 3584px, '~sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
